@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

* {
  box-sizing: border-box;
}
input:disabled {
  background-color: #ffffff;
}

html {
  line-height: 1;
}

ul,
ol,
li {
  list-style: none;
}

.type-calc-menu {
  position: relative;
  display: flex;
  width: 640px;
}
.type-calc-menu li {
  display: block;
  width: 20%;
  padding: 0.75em 0;
  text-align: center;
}
.nav-underline {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 10%;
  height: 2px;
  background: rgb(47, 161, 211);
  transition: all 0.3s ease-in-out;
}

.type-calc-menu li:nth-child(1).is-current ~ .nav-underline {
  left: 35%;
}
.type-calc-menu li:nth-child(2).is-current ~ .nav-underline {
  left: 55%;
}
.type-calc-menu li:nth-child(1):hover ~ .nav-underline {
  left: 35%;
}
.type-calc-menu li:nth-child(2):hover ~ .nav-underline {
  left: 55%;
}
